<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
    <link rel="icon" href="/img/earth.jpg">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="./css/stylesAbout.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    <div class="secondary-content">
        <img class="portrait" src="/img/earth.jpg">
    </div>

    {{>footer}}
</body>


</html>