<!DOCTYPE html>
<html>

<head>
    <title>Help Page</title>
    <link rel="icon" href="/img/earth.jpg">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Help information here</p>
    </div>
    <div class="secondary-content">
        <p>Some secondary information</p>
    </div>

    {{>footer}}

</body>


</html>